.sound {
  /* border: 1px solid black; */
  cursor: pointer;
  text-align: center;
  padding: 5em;

}

.sound-clip {
  width: 300px;
  padding: 3em;

}

.right-col {
  float: right !important;
  margin-left: auto !important;
  text-align: right !important;
}

.timing {
  background-color: black;
  color: white;
  text-align: center;

}

.effect {
  background-color: magenta;
  color: white;
  text-align: center;

}

.effect {
  background-color: magenta;
  color: white;
  text-align: center;

}

.grabbing {
  cursor: grabbing;
}

@media (max-width: 480px) {
  body {
    font-size: 60%;
  }

  .sound {
    width: fit-content;
    padding: 1em;
    margin: 2em !important;
    font-size: 40%;
    margin: 0 auto
  }

  main {
    width: 90vw !important
  }
}